<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/images/nivasa-logo.svg">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Stripe.js removed for mock payments -->
    
    <link rel="stylesheet" href="/css/professional-theme.css">
        <link rel="stylesheet" href="/css/chatbot-widget.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>


